node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

services/block-colors/block-colors.json
services/mapper/output.png
server/worlds
.servers
server/oci/result
data
services/bot/bench/server/libraries/
services/bot/bench/server/versions/1.21.1/server-1.21.1.jar
services/bot/bench/server/logs/latest.log
